<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyNotes</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="unnav">
        <div class="links">
            <a href="" class="active">HOME</a>
            <a href="">MY_NOTES</a>
            <a href="">MY_ACCOUNT</a>
            <a href="">LOGOUT</a>
        </div>
        <div class="display">
            <h4>Harshal</h4>
        </div>
    </nav>
    <div class="container">
        <h3>Welcome to myNotes</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, sint in! Enim, voluptate sed! Ab dolore nostrum adipisci eos. Dolorum temporibus recusandae quae, modi cumque ratione asperiores. Velit, error earum?</p>
        <div class="btns">
            <a href="/migratetoCreation">Create Account</a>
            <a href="/wantaccess">LogIn</a>
        </div>
        <div class="notesDisplay">
            <div class="note">
                <h3>Note 01</h3>
                
            </div>
            <div class="note">
                <h3>Note 02</h3>
            </div>
        </div>
    </div>
</body>
</html>